In [16]:
#Connect to Postgres
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.46-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.6 MB/s eta 0:00:01     |██████████████████████████▍     | 1.3 MB 5.6 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (535 kB)
     |████████████████████████████████| 535 kB 49.5 MB/s eta 0:00:01
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.46 greenlet-2.0.1

In [19]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 4.4 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [17]:
# pd.read_sql("DROP TABLE IF EXISTS yellow_taxi_data", con=engine)

In [16]:
pd.read_sql("SELECT * FROM green_taxi_data LIMIT 10", con=engine).columns

Index(['index', 'VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [57]:
sample = """
SELECT z."Zone"
FROM zones z
WHERE z."Zone" LIKE 'Astoria%'
"""
pd.read_sql(sample, con=engine)

TypeError: dict is not a sequence

In [60]:
query_2 = """
SELECT DATE(lpep_pickup_datetime), COUNT(*)
FROM green_taxi_data
WHERE DATE(lpep_pickup_datetime) IN ('2019-01-10','2019-01-15','2019-01-18','2019-01-28')
GROUP BY DATE(lpep_pickup_datetime)
ORDER BY COUNT(*)
"""

query_3 = """
SELECT passenger_count, COUNT(*)
FROM green_taxi_data
WHERE DATE(lpep_pickup_datetime) IN ('2019-01-01')
AND passenger_count IN (2,3)
GROUP BY passenger_count
"""

query_4 = """
SELECT z."Zone", SUM(t."tip_amount")
FROM green_taxi_data t JOIN zones z
ON t."DOLocationID" = z."LocationID"
GROUP BY z."Zone"
ORDER BY SUM(t."tip_amount") DESC;
"""

query_5 = """
SELECT COUNT(*)
FROM green_taxi_data
WHERE DATE(lpep_pickup_datetime) IN ('2019-01-15')
AND DATE(lpep_dropoff_datetime) IN ('2019-01-15');
"""

pd.read_sql(query_3, con=engine)

   passenger_count  count
0                2   1282
1                3    254

In [38]:
zones = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [39]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [40]:
%time zones.to_sql(name='zones', con=engine, if_exists='replace')

CPU times: user 32.8 ms, sys: 3.77 ms, total: 36.6 ms
Wall time: 127 ms

265

In [41]:
pd.read_sql("SELECT COUNT(*) FROM zones", con=engine)

   count
0    265

In [21]:
#Create schema. Note that using get_schema() will return a DDL schema format
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [37]:
#we can split our dataset into chunks of n rows
trips_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
trips_iter

In [38]:
#next() is used for iteration over a sequence. It will return the next item in an iterator
trips = next(trips_iter)
trips

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [39]:
trips.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [40]:
#Insert table to our database. For this, we will initially insert only the table columns
trips.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') #if table exists, we overwrite it

0

In [41]:
#Now, we can add data to our table. If table exists, we append it.
%time trips.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.12 s, sys: 123 ms, total: 5.24 s
Wall time: 11.8 s

1000

In [45]:
from time import time

while True:
    
    time_start = time()
    
    trips = next(trips_iter)
    trips.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    time_end = time()
    
    print("inserted another chunk, took {:.3f} seconds".format(time_end-time_start))

inserted another chunk, took 10.264 seconds
inserted another chunk, took 11.468 seconds
inserted another chunk, took 11.558 seconds
inserted another chunk, took 9.868 seconds
inserted another chunk, took 9.590 seconds
inserted another chunk, took 9.455 seconds
inserted another chunk, took 9.755 seconds
inserted another chunk, took 10.680 seconds
inserted another chunk, took 9.496 seconds
inserted another chunk, took 9.751 seconds
inserted another chunk, took 9.277 seconds

/tmp/ipykernel_25876/3488376837.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = next(trips_iter)

inserted another chunk, took 9.102 seconds
inserted another chunk, took 6.071 seconds

StopIteration: